.container {
            margin-top: 1rem;
        }
        .items {
            gap: 1rem;
            display: flex;
            flex-direction: column;
        }
        .item {
            border: 1px solid #000;
            border-radius: 0.375rem; /* Bootstrap rounded */
            padding: 1rem;
            background-color: #f8f9fa; /* light background */
        }
        .tag-container {
            display: flex;
            flex-wrap: wrap;
            gap: 0.75rem;
            margin-top: 0.5rem;
        }
        .tag {
            padding: 0.25rem 0.75rem;
            background-color: #e9ecef;
            border-radius: 1rem;
            font-size: 0.875rem;
        }

        /* Search */
        .search-form {
            gap: 1.25rem;
            margin: 1.25rem 0;
            display: flex;
            flex-direction: column;
        }

        @media (min-width: 768px) {
            .search-form {
                flex-direction: column;
                align-items: center;
            }
        }

        .search-box {
            position: relative;
            width: 100%;
            max-width: 100%;
        }

        .search-box input[type="search"] {
            padding-left: 2rem;
            border-radius: 0.375rem;
            border: 1px solid #30363d;
            width: 100%;
        }

        .search-box input::placeholder {
            color: #8b949e;
        }

        .filter-container {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: 1rem;
            justify-content: space-between;
        }

        .filter-box {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            flex-grow: 1;
        }

        .filter-item-box {
            display: flex;
            flex-direction: column;
            min-width: 150px;
            flex: 1 1 150px;
        }

        .filter-item-box select[multiple] {
            height: 6rem;
            min-height: 100px;
        }

        .filter-item-box .input-box {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        .apply-box {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 0.75rem;
            width: 100%;
            margin-top: 0.5rem;
        }

        .filter-title {
            font-weight: 600;
            font-size: 1.125rem;
            margin-bottom: 0.25rem;
        }

        .apply-btn,
        .clear-btn {
            padding: 0.25rem 0.75rem !important;
            font-size: 0.9rem;
        }

        .img-box {
            width: max-content;
        }

        .img-box img {
            width: 163px;
            border-radius: 0.375rem;
            object-fit: contain;
        }

        .card-head-body {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }